<!DOCTYPE html>
<html>
  <head>
    <title>Saycrap</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="http://localhost:8080/webpack-bundle.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="react-component"></div>
  </body>
</html>
